.registerForm{
	position: absolute;
	top:200px;
	left:600px;
}
 ul {
	display: inline;
	text-align:left;
}

ul li {
	display: inline;
	color: red;
	width:101px;
	margin£º0px£»padding£º0px;
	
}